/* Styling for Navbar */
body{
	display: block;
	overflow-x: hidden;
}

nav{
	background-color: white;
}

.gd {
	background-color: #a6ffa6;
}
.gl {
	background-color: #d9ffd9;
}
.ed {
	background-color: #aaaaaa;
}
.el {
	background-color: #cccccc;
}
.od {
	background-color: #eeeeee;
}
.ol {
	background-color: #f8f8f8;
}


.navbar-brand img {
	max-height: 50px;
}

.navbar-brand{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 900;
	color: #683aa4;
}

nav ul li a{
	color: #a9a9a9;
	font-size: 22px;
	margin: auto 10px; 
}

nav ul li a:hover{
	color: #683aa4;
}

/* Styling for Hero Section */
section{
	padding-top: 50px;
	padding-bottom: 50px;
}

section h1{
	text-transform: uppercase;
	font-weight: 900;
	color: #683aa4;
	text-align: left;
	margin-bottom: 20px;
} 

section p{
	font-size: 16px;
	font-weight: 300;
}

button{
	max-width: 50%;
	border-radius: 50px !important;
}

#hero {
	margin-top: 50px;
}

#hero .col{
	justify-content: center;
	flex-direction: column;
	display: flex;
}

#hero .img-col{
	justify-content: flex-end;
	margin-top: 100px;
}

#hero img{
	max-width: 130%; !important;
	width: 130%;
}

/* Styling for the cards */
#hero .card{
	box-shadow: 11px 7px 16px #f9f9f9;
	border: 0;
	text-align: center;
}

#hero .cards .card{
	width: 18rem;
}

/* Styling for Icons if added */
#hero .icon{
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}

/* Styling for the Project Section */
#projects .projects{
	margin-bottom: 50px;
}

/* contact section styling */
#contact{
	text-align: center;
	background-color: #683aa4;
	color: white;
}

#contact h1{
	text-align: center;
	color: white;
}
