<html>
   <body>
       <h1>Malpedia BlocksDB</h1>
       <table>
	       <tr>
		       <th class="not_mapped_style" style="text-align:left">Database: </th>
		       <td>{{db_online}}</td>
	       </tr>
	       <tr>
		       <th class="not_mapped_style" style="text-align:left">Tracked Families: </th>
		       <td>{{tracked_families}}</td>
	       </tr>
	       <tr>
		       <th class="not_mapped_style" style="text-align:left">Number of Samples: </th>
		       <td>{{number_samples}}</td>
	       </tr>
	       <tr>
		       <th class="not_mapped_style" style="text-align:left">Number of Blockhashes: </th>
		       <td>{{number_blocks}}</td>
	       </tr>
       </table>
        <p>
            BlocksDB is an experimental project of using PIC hashing over basic blocks.
        </p>
        <p>
            Upload an executable to have it automatically dissected by <a href="https://github.com/danielplohmann/smda">SMDA</a>.<br />
            All its basic blocks of length 4+ will then be hashed and matched against all unpacked and dumped binaries in Malpedia.
        </p>
        <p>
            Alternatively send your binary via POST request to /api/blocks. 
        </p>
      <form action = "/blocks" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "binary" /><input type = "submit"/>
         <p>optional parameters (when handling a buffer):</p>
        <div>
            <input type="radio" id="bit32" name="bitness" value="32" checked>
            <label for="bit32">32bit</label>
        </div>
        <div>
            <input type="radio" id="bit64" name="bitness" value="64">
            <label for="bit64">64bit</label>
        </div>
        <div>
            <input style="visibility:hidden;" type="radio" id="bit0" name="bitness" value="0" checked>
        </div>
        <div>
            <label for="baseaddress">Base address:</label>
            <input type="text" id="baseaddress" name="baseaddress"  placeholder="0x">
        </div>
      </form>   
   </body>
</html>
